/* index.css or main.css */

@import "flyonui/variants.css";

/* Optional: Add any custom styles below */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* If you want FlyonUI styles, import after Tailwind */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@plugin "flyonui";
@source "./node_modules/flyonui/flyonui.js";

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

  /* Hide scrollbar but allow scroll */
  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .addItemAdmin{
    z-index: 9999;
  }


  /* Add this to your global CSS file or inside a <style> tag in your component */
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
  .shimmer {
    background: linear-gradient(90deg, rgba(200, 200, 200, 0.15) 25%, rgba(220, 220, 220, 0.35) 50%, rgba(200, 200, 200, 0.15) 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite ease-in-out;
  }
  

